_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
node_modules/
vendor
secret.py
.cache
__pycache__/
_drafts/
# Ignore all temporary and unnecessary files
.bundle/
vendor/
tmp/
_site/
node_modules/
.sass-cache/
.cache/
.DS_Store
*.log
*.lock
*.tmp
*.gem
*.swp
*.bak
*.old
*.env
